<p [class]="myclass">Hello,{{user?.name}}!</p>
<p  (click)="changeColor('purple')" [style.color]="mycolor" >Text</p>

<input type="text" (input)="changeColor($event.target.value)"
(keydown.control.shift.enter)="changeColor('green')">

<input type="text" #colorElement>
<button (click)="changeColor(colorElement.value)">Change color</button>
{{random()}}

<button (click)="isShown = !isShown">Toggle</button>

<app-user-card *ngIf="isShown" [user]="user"></app-user-card>

<!-- <button (click)="isShown = false">Hide</button> -->

<ul>
    <li *ngFor="let user of users">
        {{user.name}}
    </li>
</ul>
